<configuration>
    <!-- 定义 STDOUT appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置根日志级别为 INFO，并引用 STDOUT appender -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- 针对 Kafka 客户端的日志级别设置为 WARN -->
    <logger name="org.apache.kafka" level="WARN"/>
</configuration>